* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    /* box-sizing: unset; */
}


button:hover {
    border: 1px #fff solid;
}

/* Nav Section */
.navbar {
    padding: 0;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 300% 300%;
	animation: gradient 15s ease infinite;    

    text-align: center;
    width: 100%;
    height: auto; 
    border-bottom: 1px black solid;   
}

.nav-link{
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(61, 57, 50);
}


/* Welcome section */

.welcome-section {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

    color: #fff;
    text-align: center;
    height: auto;
    padding: 5%;    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.welcome-section h1 {    
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
}

/* Projects Section */

.projects-section {
    background-color: rgb(245, 228, 245);
    padding: 5%;    
}

#project-container {
    display: flex;
    flex-direction: column;
}

#project-container > div {
    margin: 3% 0;
    padding: 2%;
    border: 2px rgb(163, 106, 216) solid;
    border-radius: 15px;
}

#project-container  p {
    margin: 3% 0;
    font-size: 1rem;
}
.projects-section h2 {
    padding-bottom: 5%;
}

.projects-section > div {
    padding: 1%;
}

.projects-section button {
    background-color: rgb(85, 96, 248);
    color: #fff;
    margin-top: 1%;
    padding: 1% 5%;    
}

.projects-section button:hover {
    background-color: rgb(3, 12, 131);
    border: 1px black solid;
}

/* Technical SKills Section */

.technical-skills {
    padding: 10%;    
}

.front-end {
    margin-bottom: 3%;
    padding: 3%;
    border: 5px rgb(255, 255, 11) solid;
    border-radius: 15px;
}


.back-end {
    margin-bottom: 3%;
    padding: 3%;
    border: 5px rgb(20, 139, 16) solid;
    border-radius: 15px;
}

.other {
    margin-bottom: 3%;
    padding: 3%;
    border: 5px rgb(0, 0, 0) solid;
    border-radius: 15px;
}

/* Contact Section */

.contact-section {
    background-color: rgb(75, 73, 73);
    text-align: center;
    display: flexbox; 
    padding: 15% 10%;
}

.contact-div .btn {    
    margin: 3%;
    font-size: 2.5rem;
    border-radius: 100%;
}

.contact-icon {
    margin: 2%;
    padding: 2%;
    font-size: 3rem;
    color: #fff;
    border-radius: 50%;
}

.contact-info-div {
    margin-top: 3%;
    
}

.contact-info-div .contact-icon {
    font-size: 1.5rem;
}

.contact-info {
    padding: 5px;
    font-size: 1rem;
    color: #fff;
}

/* Media Quries */

@media screen and (min-width: 768px) {

    /* Navbar section */  
    
    .nav {        
        width: 40%;
        display: flexbox;
        justify-content: flex-end;
        padding-right: 2%;
    }

    .nav-item {
        font-size: 0.5rem;        
        padding: 1% 0 1% 5%;
    }

    .nav-link:hover {
        color: #fff;
    }

    /* Welcome Section */

    .welcome-section {
        text-align: center;
        padding: 5% 10%;
        height: auto;
    }

    #welcome-subheading {       
        margin: auto;
        width: 50%;
    }

    .welcome-section p {
        font-size: 1.5rem;
    }

    /* Project Section */
    .projects-section {
        text-align: center;        
    }

    #project-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #project-container > div {
        display: grid;
        grid-template-rows: 0.5fr 1fr 0.2fr;        
        margin: 10px;
        width: 30%;
    }

    .my-projects p {  
        margin-bottom: 3%;      
        text-align: left;
    }

    .projects-section button {
        font-size: 1rem;
        padding: 1% 5%;
        margin-top: 3%;
    }

    /* Tech skills */

    .technical-skills h2 {
        text-align: center;
    }

    .skills-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .skills-section div {
        margin: 3%;
    }

    /* ************************************Contact Section******************************** */

    .contact-section {
        padding: 3% 10%;
        display: grid;
        grid-template-columns: 0.7fr 0.7fr;
        align-items: center;
    }

    .contact-section > div {
        width: 60%;
        height: auto;
        padding: 5%;
    }

    .contact-info-div {
        text-align: left;
    }

    .contact-div a > .btn:hover {
        background-color: rgb(75, 75, 75);
        border: 1px white solid;    
    }

    .contact-icon {
        margin: 10px;
        padding: 10px;        
        border-radius: 100%;
        font-size: 3rem;
    }

    .contact-info-div .contact-icon {
        font-size: 1.5rem;
    }

    .contact-section .btn {        
        margin: 0;        
        color: #fff;        
    }
}
